<h1>Program Settings</h1>
<br>

<table>
  <thead>

  <tr>
    <h2>Resources</h2>
  </tr>

  </thead>

<ul>

  <tbody>

      <tr>
        <td><%= link_to "Tree Specie", generes_path %></td><td colspan="2"></td>
      </tr>

      <tr>
        <td><%= link_to "Tree Status", statuses_path %></td><td colspan="2"></td>
      </tr>


  </tbody>
</ul>
</table>




