<footer class="footer">
  <small>
    <a href="http://frin.org.ng/">EMM-Data Project</a>
    by Garvey Ndukwe
  </small>
  <nav>
    <ul>
      <%= link_to "About",   root_path %>   <%= link_to "Contact", root_path %>       <a href="http://news.frin.org.ng/">News</a>
    </ul>
  </nav>
</footer>