<footer class="footer">
  <div class="container">

    <ul class="nav navbar-nav navbar-left">

        <%= link_to_unless_current( "About",   root_path) %>   |
        <%= link_to_unless_current("Contact", root_path) %>   |
        <a href="http://news.frin.org.ng/">News  </a>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <%= pluralize(User.count,"user")%>  registered
    </ul>

  </div>
</footer>